<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<body>

<!-- Insert content into the layouts/layout.html -->
<dev layout:fragment="content">
    <h1>Spring Actuator</h1>
    <p>
        Actuator endpoints allow you to monitor and interact with your application.
        Spring Boot includes a number of built-in endpoints and you can also add your own.
    </p>
    <script th:inline="javascript">
        console.log("1");
    </script>
</dev >
</body>
</html>